@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin form-input-style {
  background-color: #f9f7f3;
  border: 1px solid #f9f7f3;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  padding: 12px;
  width: 70%;
}
@mixin button-styles {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #f9f7f3;
  box-shadow: 1px 2px 3px 0px #343a40;
}

.form * {
  color: #343a40;
}

.open-modal-btn {
  @include flex-center;
  @include button-styles;
  color: #343a40;
  box-shadow: 1px 2px 3px 0px #343a40;
  margin-right: 2rem;

  &:hover {
    background-color: #eeeae0;
    border-color: #c77dff;
  }
}

.modal-container {
  @include flex-center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 28rem;
  height: 80%;
  max-height: 28rem;
  z-index: 1000;
  background-image: linear-gradient(to bottom, #eee4e1, #ffd6ff);
  border-radius: 1rem;
  color: #343a40;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 3px 0px #343a40;
}

.modal-actions {
  @include flex-center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
}

.form-input {
  @include form-input-style;
  box-shadow: 1px 2px 3px 0px #343a40;
  margin: 1rem;
  width: max-content;
}

.form-input:hover {
  border-color: #c77dff;
}

.form-input:focus {
  border-color: #c77dff;
  outline: none;
}

.modal-header {
  @include flex-center;
  flex-direction: column;
}

.modal-img {
  width: 4rem;
  height: 4rem;
}

.modal-title {
  @include flex-center;
  flex-direction: row-reverse;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.submit-btn {
  background-color: #6a994e;
  @include button-styles;

  &:hover {
    background-color: #386641;
    border-color: #c77dff;
  }
}

.cancel-btn {
  background-color: #bc4749;
  margin-right: 1rem;
  @include button-styles;

  &:hover {
    background-color: #86090b;
    border-color: #c77dff;
  }
}
